nav, footer, .sidebar {
    display: none;
    visibility: hidden;
}

.bg_cadastros {
    display: flex;
}

/* LADO ESQUERDO */
.lado_esquerdo {
    background-image: url('public/images/back-green.svg');
    background-size: contain;
    width: 100%;
    margin-right: 122px;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img_lado_esquerdo {
    width: 65%;
    height: auto;
}

.img_lado_esquerdo img {
    width: 100%;
}

/* LADO DIREITO */
.lado_direito {
    width: 970px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo_lado_direito {
    display: flex;
    align-items: flex-end;
}

.lado_direito h1 {
    color: #32794F;
}

.logo_stayfit {
    width: 170px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.div_direita {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;height: 500px;
}

/* FORMULÁRIO */
.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    font-weight: 700;
}

.form-group input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 60px);
}

.help-icon {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 10;
}

.help-icon:hover .tooltip {
    display: block;
}

.number {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8DEBD;
    border-radius: 10px;
    margin-right: 2em;
}

.around-arrow {
    display: flex;
}

.around-arrow-prev, .around-arrow-next {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_cadastronutricional {
    width: 95%;
    background-color: #32794F;
    border: 0;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.arrow-left {
    rotate: -90deg;
}

.arrow-right {
    rotate: 90deg;
}

.button-container .form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.e-filled.e-float-input, .e-filled.e-float-input.e-control-wrapper{
    padding: 0 10px 0 0 !important;
}

.e-filled label.e-float-text, 
.e-filled.e-float-input label.e-float-text, 
.e-filled.e-float-input.e-control-wrapper label.e-float-text, 
.e-filled.e-float-input:not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom, 
.e-filled.e-float-input.e-control-wrapper:not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom{
    left: 0 !important;
    font-size: 13px !important;
}

.label-size {
    font-size: 13px;
}

@media (max-width: 1000px) {
    .lado_esquerdo {
        display: none;
    }

    .lado_direito {
        width: 100%;
        padding: 30px 20px;
        background: white;
        border-radius: 10px;
        height: 80%;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .div_direita{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .bg_cadastros {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }

    .lado_esquerdo, .lado_direito {
        margin: 0;
    }

    .titulo_lado_direito {
        margin-bottom: 3em;
    }

    .button-container{
        width: 100%;
    }
}
