@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.fundo_historico {
    box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 0.3px;
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

.fundo_historico div h1 {
    color: #000;
    text-align: center;
}

.fundo_historico .grid_historico {
    margin-top: 3em;
}
.status-yellow {
    background-color: yellow;
    color: black;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
}

.status-green {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
}

.status-red {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
}

.status-default {
    background-color: gray;
    color: white;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
}

.status-button {
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 1000px) {
    .fundo_historico {
        height: 80%;
        padding: 50px 15px;
    }
}

@media (max-width: 768px) {
    .fundo_historico {
        padding: 30px 10px; /* Ajustando o padding para smartphones */
    }

    .fundo_historico div h1 {
        font-size: 24px; /* Reduzindo o tamanho da fonte do título */
    }

    .fundo_historico .grid_historico {
        margin-top: 2em; /* Ajustando a margem superior */
        display: flex; /* Usando flexbox para facilitar o layout */
        flex-direction: column; /* Mudando a direção para coluna */
        align-items: center; /* Centralizando os itens */
    }
}

@media (max-width: 480px) {
    .fundo_historico {
        padding: 20px 5px; /* Reduzindo o padding para telas muito pequenas */
    }

    .fundo_historico div h1 {
        font-size: 20px; /* Aumentando ainda mais a responsividade da fonte */
    }

    .fundo_historico .grid_historico {
        margin-top: 1.5em; /* Ajustando a margem superior para telas pequenas */
    }

    .grid_historico > div { /* Ajustes nos itens da grid para celulares */
        width: 100%; /* Fazendo com que cada item ocupe toda a largura disponível */
        margin-bottom: 10px; /* Espaçamento entre os itens */
    }
}
.grid-scroll{
    width: 100% !important;
}
@media (max-width: 768px) {
    /* Adicionando rolagem horizontal para a grid */
    .grid_historico {
        width: 100%;
        overflow-x: auto; /* Rolagem horizontal */
        -webkit-overflow-scrolling: touch; /* Suaviza a rolagem no iOS */
    }
    .ejs-grid .e-columnheader, 
    .ejs-grid .e-rowcell {
        font-size: 14px; /* Reduzindo o tamanho da fonte */
        padding: 8px; /* Ajuste do padding */
    }

    /* Ajuste da largura das colunas para se adaptar melhor em telas pequenas */
    .ejs-grid .e-column {
        width: auto; /* Faz com que as colunas se ajustem automaticamente */
    }
    .ejs-grid .e-columnheader, .ejs-grid .e-rowcell {
        min-width: 100px; /* Definindo um tamanho mínimo para as células */
    }
}

