#responsive-container {
  display: flex;
  flex-direction: row; 
}
  
.card {
  width: 90vw;
  display: flex;
  flex-direction: row; 
}
  
.div-nutri-perfil {
  display: flex;
  position: absolute;
  height: 82vh;
  left: 6rem;
  top: 7rem;
}

@media (max-width: 768px) {
  #responsive-container {
    flex-direction: column; 
    align-items: center;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  #calendar {
    margin: 1rem 0;
  }

  ejs-grid {
    width: 100%; 
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  #responsive-container {
    flex-direction: column; 
    align-items: center;
  }

  .card {
    flex-direction: column; 
    width: 100%;
  }

  #calendar {
    width: 80px;
    margin: 1rem 0;
  }

  ejs-grid {
    width: 100%; 
    margin: 1rem;
  }
}
  
.dialog{
  width: 65vw !important;
  height: 48vh !important;
}

.e-dialog .e-dlg-header-content+.e-dlg-content {
  padding-top: 1rem;
}

.button_modal_atendimento {
  position: fixed; 
  bottom: 30px; 
  right: 30px;
  z-index: 9999;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.button_modal_atendimento:hover {
  transform: scale(1.1);
}

.img_button_modal_atendimento {
  width: 3vw;
  height: auto;
}
